################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/OpenGL.VC.VC.opendb
/OpenGL.VC.db
/project_VBO_EBO_VAO/Debug
/project_shader_test/Debug
/project_lib/Debug
/libraries/libs/project_lib.lib
/libraries/libs/project_lib.pdb
/Debug
/.vs
/project_texture_test/Debug
/project_matrix_transform/Debug
/project_coordinate_transform_test/Debug
/project_camera_test/Debug
